// Defining values
$small-range:   (600px);       /* 0, 640px */
$medium-range:  (769px);  /* 641px, 1024px */
$large-range:   (1024px);  /* 1025px, 1440px */
// $xlarge-range:  (90em); /* 1441px, 1920px */

@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (min-width: $small-range) {
      @content;
    }
  }

  @else if $breakpoint == "medium" {
    @media (min-width: $medium-range) {
      @content;
    }
  }

  @else if $breakpoint == "large" {
    @media (min-width: $large-range) {
      @content;
    }
  }
}

/***** SHARED GENERICS *****/
.section-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;
  border-top: 5px solid #343a40;
}

.section-container-margin {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 2%;
  border-top: 5px solid #343a40;
}

.section-headlines {
  padding: 0;
  text-transform: uppercase;
}

.custom-flex-container-row {
  display: flex;
  flex-flow: row nowrap;
}

.custom-flex-container-column {
  display: flex;
  flex-flow: column nowrap;
}

.no-padding {
  padding: 0;
}
/***** SHARED GENERICS - END *****/


/***** HEADER *****/
.site-header {
  display: flex;
  flex-grow: 1;
  position: relative;
  flex-flow: column nowrap;
  max-width: 100%;
  min-height: 85vh;
  overflow-y: hidden;
  background-image: url(../images/overlay-banner.jpg);
  background-size: cover;
}

.navbar-custom {
  display: flex;
  flex-shrink: 1;
}

.header-content {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  max-width: 100%;
  justify-content: center;
}

.hero-heading {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  padding: 0 25px;
  text-decoration: underline;
}

.hero-copy {
  display: flex;
  flex-shrink: 1;
  justify-content: flex-start;
  padding: 0 25px;
}

.logo-custom {
  font-family: 'Bungee', cursive;
  color: #343a40;
}
/***** HEADER - END *****/


/***** ABOUT ME *****/
.section-profile {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  flex-flow: column nowrap;
  justify-content: center;

  @include respond-to(medium) {
    flex-flow: row nowrap;
  }

  .profile-copy-container {
    display: flex;
    flex-basis: 60%;
    flex-flow: column nowrap;
    flex-grow: 1;
    order: 1;

    @include respond-to(medium) {
      order: 2;
    }
  }

  .profile-image-container {
    display: flex;
    flex-basis: 40%;
    flex-flow: row nowrap;
    flex-grow: 1;
    justify-content: center;
    margin: 25px 0;
    order: 1;

    @include respond-to(medium) {
      flex-flow: column nowrap;
      order: 2;
    }

    .portfolio-profile {
      height: 100%;
      width: 100%;
    }
  }
}

.contact-and-hire-container {
  display: flex;
  flex: 1 0 65%;
  flex-flow: column nowrap;
  order: 3;
}

.section-headlines {
  margin: 15px 0;
  display: flex;
  flex: 1 0 auto;
  flex-flow: row nowrap;
  justify-content: center;

  @include respond-to(small) {
    margin: 20px 0;
  }
}

.hire-heading {
  display: flex;
  justify-content: flex-start;
}

.contact-copy {
  display: flex;
  justify-content: flex-start;

  @include respond-to(medium) {
    justify-content: center;
  }
}

.section-contact {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 10px 0;
}

.section-contact > a {
  display: flex;
  padding: 15px;
}

/***** ABOUT ME - END *****/

/***** PROJECTS STYLES *****/
.full-size-heading {
  color: #343a40;
  display: flex;
  padding: 22px 0;
  margin: 0;
  justify-content: center;
}

.tint {
  width: 100%;
  height: auto;
}

.designstudio {
  width: 100%;
  height: auto;
}

.bachelor-thesis {
  width: 100%;
  height: auto;
}

.project-screens {
  display: flex;
  height: auto;
  width: 100%;


}

.modal-content {

  .close-container {
    display: flex;
    justify-content: flex-end;

    .close-button {
      display: flex;
      height: auto;
      width: auto;
      border: none;
      background: none;

      .close-icon {
        height: 100%;
        width: 100%;
      }
    }
  }

  .container {
    padding: 25px;

    .project-row {
      margin-bottom: 15px;
    }
  }
}

.screens-row {
  flex-flow: column nowrap;

  @include respond-to(small) {
    flex-flow: row nowrap;
  }

  &>.col-md-3 {
    margin-bottom: 15px;
  }
}

/***** PROJECTS STYLES - END *****/

/***** FOOTER STYLES *****/
.footer {
  background: #000000;
  display: flex;
  flex-flow: column nowrap;
  min-height: 200px;

  &>.section-headlines {
    color: #FFFFFF;
  }
}

.contact-content {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 10px 0;
}

.contact-content > a {
  display: flex;
  padding: 15px;
}

.mail {
  height: 66px;
  width: auto;
}

.phone {
  height: 66px;
  width: auto;
}

.all-rights {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  margin: 10px 0;
}
/***** FOOTER STYLES - END *****/

/***** BOOTSTRAP OVERRIDES *****/
.custom-row > .col-md-4 {
  padding: 0;
  margin: 0;
}

.modal-custom {
  margin: 0;
  height: 100%;
  width: auto;

  .modal-content {
    min-height: 100vh;
    min-width: 100vw;
  }
}

.modal-dialog {
  max-width: 100% !important;
}


/***** BOOTSTRAP OVERRIDES - END *****/

/***** GLOBALS *****/
* {
  font-family: 'Roboto', sans-serif;
  font-size: 1.05rem;
  color: #343a40;
}

h1, h2, h3, h4, h5 {
  font-family: 'Bungee', cursive !important;
  color: #343a40;
}

h1 {
  font-size: 2.2em;
  text-decoration: none;

  @include respond-to(small) {
    font-size: 2.6em;
  }

  @include respond-to(medium) {
    font-size: 3em;
  }
}

h2 {
  font-size: 2em;

  @include respond-to(small) {
    font-size: 2.4em;
  }

  @include respond-to(medium) {
    font-size: 2.8em;
  }
}

h3 {
  font-size: 1.6em;

  @include respond-to(small) {
    font-size: 2em;
  }

  @include respond-to(medium) {
    font-size: 2.4em;
  }
}

h4 {
  font-size: 1.6em;

  @include respond-to(small) {
    font-size: 1.8em;
  }

  @include respond-to(medium) {
    font-size: 2em;
  }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/***** GLOBALS - END *****/
